<!-- Config file for the game -->

<config>
  <app>
    <title>Deep Down</title>
    <organization>UPC</organization>    
  </app>
	
  <renderer>
    <vsync value="false"/>
    <CapFrames value="30"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <icon name="Assets/Sprites/Textures/Icon.bmp"/>
  </window>

  <map>
    <folder>Assets/Sprites/Maps/</folder>
    <general>
      <blit offset="15"/>
      <camera_blit value="1"/>
    </general>
  </map>

  <audio>
    <music_folder>Assets/Audio/Music/</music_folder>
    <fx_folder>Assets/Audio/FX/</fx_folder>
    <volume default="16"/>
  </audio>

  <scene>
    <maps>
      <index first="0"/>
      <map id="1" name="scene1.tmx"/>
      <map id="2" name="scene2.tmx"/>
    </maps>
    <audio>
      <songs>
        <song id="1" name="scene1.ogg"/>
        <song id="2" name="scene2.ogg" volume_adjustment="16"/>
      </songs>
      <fx>
        <fx name="dash.wav"/>
        <fx name="earthquake.wav"/>
        <fx name="bow.wav"/>
        <fx name="gate.wav"/>
        <fx name="scream.wav"/>
      </fx>
    </audio>
  </scene>

  <entities>
    <spritesheets>
      <spritesheet name="Assets/Sprites/Textures/CatPeasant.png"/>
      <spritesheet name="Assets/Sprites/Textures/Monkey.png"/>
      <spritesheet name="Assets/Sprites/Textures/Imp.png"/>
      <spritesheet name="Assets/Sprites/Textures/Kaho.png"/>
    </spritesheets>
    <types>
      <player>
        <general>
          <state value="2"/>
          <gravity value="0.1"/>
          <speed x="0" y="0"/>
          <collider x="14" y="10" w="-28" h="-10"/>
          <check_collision offset="3"/>
        </general>
        <animations>
          <idle speed="100" loops="1">
            <frame x="1" y="454" w="48" h="48"/>
            <frame x="50" y="454" w="48" h="48"/>
            <frame x="99" y="454" w="48" h="48"/>
            <frame x="148" y="454" w="48" h="48"/>
            <frame x="197" y="454" w="48" h="48"/>
            <frame x="246" y="454" w="48" h="48"/>
          </idle>
          <idle2 speed="100" loops="1">
            <frame x="686" y="454" w="48" h="48"/>
            <frame x="735" y="454" w="48" h="48"/>
            <frame x="784" y="454" w="48" h="48"/>
            <frame x="833" y="454" w="48" h="48"/>
            <frame x="882" y="454" w="48" h="48"/>
            <frame x="931" y="454" w="48" h="48"/>
          </idle2>
          <forward speed="100" loops="1">
            <frame x="99" y="206" w="48" h="48"/>
            <frame x="148" y="206" w="48" h="48"/>
            <frame x="197" y="206" w="48" h="48"/>
            <frame x="246" y="206" w="48" h="48"/>
            <frame x="295" y="206" w="48" h="48"/>
            <frame x="344" y="206" w="48" h="48"/>
            <frame x="393" y="206" w="48" h="48"/>
            <frame x="442" y="206" w="48" h="48"/>
          </forward>
          <backward speed="100" loops="1">
            <frame x="833" y="206" w="48" h="48"/>
            <frame x="784" y="206" w="48" h="48"/>
            <frame x="735" y="206" w="48" h="48"/>
            <frame x="686" y="206" w="48" h="48"/>
            <frame x="637" y="206" w="48" h="48"/>
            <frame x="588" y="206" w="48" h="48"/>
            <frame x="539" y="206" w="48" h="48"/>
            <frame x="490" y="206" w="48" h="48"/>
          </backward>
          <crouch speed="100" loops="1">
            <frame x="99" y="268" w="48" h="48"/>
            <frame x="148" y="268" w="48" h="48"/>
          </crouch>
          <crouch2 speed="100" loops="1">
            <frame x="784" y="268" w="48" h="48"/>
            <frame x="833" y="268" w="48" h="48"/>
          </crouch2>
          <shot speed="100" loops="0">
            <frame x="1" y="13" w="48" h="48"/>
            <frame x="50" y="13" w="48" h="48"/>
            <frame x="99" y="13" w="48" h="48"/>
            <frame x="148" y="13" w="48" h="48"/>
            <frame x="197" y="13" w="48" h="48"/>
            <frame x="246" y="13" w="48" h="48"/>
          </shot>
          <shot2 speed="100" loops="0">
            <frame x="931" y="13" w="48" h="48"/>
            <frame x="882" y="13" w="48" h="48"/>
            <frame x="833" y="13" w="48" h="48"/>
            <frame x="784" y="13" w="48" h="48"/>
            <frame x="735" y="13" w="48" h="48"/>
            <frame x="686" y="13" w="48" h="48"/>
          </shot2>
          <crouchShot speed="100" loops="0">
            <frame x="1" y="140" w="48" h="48"/>
            <frame x="50" y="140" w="48" h="48"/>
            <frame x="99" y="140" w="48" h="48"/>
            <frame x="148" y="140" w="48" h="48"/>
            <frame x="197" y="140" w="48" h="48"/>
            <frame x="246" y="140" w="48" h="48"/>
          </crouchShot>
          <crouchShot2 speed="100" loops="0">
            <frame x="931" y="140" w="48" h="48"/>
            <frame x="882" y="140" w="48" h="48"/>
            <frame x="833" y="140" w="48" h="48"/>
            <frame x="784" y="140" w="48" h="48"/>
            <frame x="735" y="140" w="48" h="48"/>
            <frame x="686" y="140" w="48" h="48"/>
          </crouchShot2>
          <jump speed="100" loops="1">
            <frame x="1" y="390" w="48" h="48"/>
            <frame x="50" y="390" w="48" h="48"/>
            <frame x="99" y="390" w="48" h="48"/>
          </jump>
          <jump2 speed="100" loops="1">
            <frame x="833" y="390" w="48" h="48"/>
            <frame x="882" y="390" w="48" h="48"/>
            <frame x="931" y="390" w="48" h="48"/>
          </jump2>
          <punished speed="100" loops="0">
            <frame x="51" y="332" w="48" h="44"/>
            <frame x="101" y="332" w="48" h="44"/>
            <frame x="151" y="332" w="48" h="44"/>
          </punished>
          <punished2 speed="100" loops="0">
            <frame x="780" y="332" w="48" h="44"/>
            <frame x="830" y="332" w="48" h="44"/>
            <frame x="880" y="332" w="48" h="44"/>
          </punished2>
          <dash speed="100" loops="1">
            <frame x="1" y="518" w="48" h="48"/>
          </dash>
          <dash2 speed="100" loops="1">
            <frame x="931" y="518" w="48" h="48"/>
          </dash2>
          <firstAttack speed="100" loops="0">
            <frame x="1" y="580" w="48" h="48"/>
            <frame x="50" y="580" w="48" h="48"/>
            <frame x="99" y="580" w="48" h="48"/>
            <frame x="148" y="580" w="48" h="48"/>
            <frame x="197" y="580" w="48" h="48"/>
            <frame x="246" y="580" w="48" h="48"/>
            <frame x="295" y="580" w="48" h="48"/>
          </firstAttack>
          <secondAttack speed="100" loops="0">
            <frame x="1" y="643" w="48" h="48"/>
            <frame x="50" y="643" w="48" h="48"/>
            <frame x="99" y="643" w="48" h="48"/>
            <frame x="148" y="643" w="48" h="48"/>
            <frame x="197" y="643" w="48" h="48"/>
            <frame x="246" y="643" w="48" h="48"/>
            <frame x="295" y="643" w="48" h="48"/>
          </secondAttack>
          <thirdAttack speed="100" loops="0">
            <frame x="1" y="706" w="48" h="48"/>
            <frame x="50" y="706" w="48" h="48"/>
            <frame x="99" y="706" w="48" h="48"/>
            <frame x="148" y="706" w="48" h="48"/>
            <frame x="197" y="706" w="48" h="48"/>
            <frame x="246" y="706" w="48" h="48"/>
            <frame x="295" y="706" w="48" h="48"/>
            <frame x="344" y="706" w="48" h="48"/>
            <frame x="393" y="706" w="48" h="48"/>
            <frame x="442" y="706" w="48" h="48"/>
            <frame x="491" y="706" w="48" h="48"/>
          </thirdAttack>
          <firstAttack2 speed="100" loops="0">
            <frame x="931" y="643" w="48" h="48"/>
            <frame x="882" y="643" w="48" h="48"/>
            <frame x="833" y="643" w="48" h="48"/>
            <frame x="784" y="643" w="48" h="48"/>
            <frame x="735" y="643" w="48" h="48"/>
            <frame x="686" y="643" w="48" h="48"/>
            <frame x="637" y="643" w="48" h="48"/>
          </firstAttack2>
          <secondAttack2 speed="100" loops="0">
            <frame x="931" y="706" w="48" h="48"/>
            <frame x="882" y="706" w="48" h="48"/>
            <frame x="833" y="706" w="48" h="48"/>
            <frame x="784" y="706" w="48" h="48"/>
            <frame x="735" y="706" w="48" h="48"/>
            <frame x="686" y="706" w="48" h="48"/>
            <frame x="637" y="706" w="48" h="48"/>
          </secondAttack2>
          <thirdAttack2 speed="100" loops="0">
            <frame x="931" y="582" w="48" h="48"/>
            <frame x="882" y="582" w="48" h="48"/>
            <frame x="833" y="582" w="48" h="48"/>
            <frame x="784" y="582" w="48" h="48"/>
            <frame x="735" y="582" w="48" h="48"/>
            <frame x="686" y="582" w="48" h="48"/>
            <frame x="637" y="582" w="48" h="48"/>
            <frame x="588" y="582" w="48" h="48"/>
            <frame x="539" y="582" w="48" h="48"/>
            <frame x="490" y="582" w="48" h="48"/>
            <frame x="441" y="582" w="48" h="48"/>
          </thirdAttack2>
        </animations>
      </player>
      <imp>
        <general>
          <coll_offset x="6" y="10" w="-8" h="-10"/>
        </general>
        <animations>
          <r_shield_idle speed="0.2" loops="1">
            <frame x="276" y="21" w="32" h="32"/>
          </r_shield_idle>
          <l_shield_idle speed="0.2" loops="1">
            <frame x="352" y="21" w="32" h="32"/>
          </l_shield_idle>
          <r_shield_hurt speed="0.2" loops="0">
            <frame x="276" y="74" w="32" h="32"/>
          </r_shield_hurt>
          <l_shield_hurt speed="0.2" loops="0">
            <frame x="352" y="74" w="32" h="32"/>
          </l_shield_hurt>
          <r_jump speed="0.2" loops="1">
            <frame x="2" y="339" w="32" h="32"/>
          </r_jump>
          <l_jump speed="0.2" loops="1">
            <frame x="208" y="389" w="32" h="32"/>
          </l_jump>
          <r_throw_bomb speed="0.2" loops="0">
            <frame x="2" y="495" w="32" h="32"/>
            <frame x="36" y="495" w="32" h="32"/>
            <frame x="70" y="495" w="32" h="32"/>
            <frame x="104" y="495" w="32" h="32"/>
            <frame x="138" y="495" w="32" h="32"/>
            <frame x="172" y="495" w="32" h="32"/>
            <frame x="206" y="495" w="32" h="32"/>
            <frame x="240" y="495" w="32" h="32"/>
            <frame x="274" y="495" w="32" h="32"/>
          </r_throw_bomb>
          <l_throw_bomb speed="0.2" loops="0">
            <frame x="352" y="601" w="32" h="32"/>
            <frame x="318" y="601" w="32" h="32"/>
            <frame x="284" y="601" w="32" h="32"/>
            <frame x="250" y="601" w="32" h="32"/>
            <frame x="216" y="601" w="32" h="32"/>
            <frame x="182" y="601" w="32" h="32"/>
            <frame x="148" y="601" w="32" h="32"/>
            <frame x="114" y="601" w="32" h="32"/>
            <frame x="80" y="601" w="32" h="32"/>
          </l_throw_bomb>
          <r_shield_walk speed="0.2" loops="1">
            <frame x="2" y="654" w="32" h="32"/>
            <frame x="36" y="654" w="32" h="32"/>
            <frame x="70" y="654" w="32" h="32"/>
            <frame x="104" y="654" w="32" h="32"/>
            <frame x="138" y="654" w="32" h="32"/>
          </r_shield_walk>
          <l_shield_walk speed="0.2" loops="1">
            <frame x="352" y="798" w="32" h="32"/>
            <frame x="318" y="798" w="32" h="32"/>
            <frame x="284" y="798" w="32" h="32"/>
            <frame x="250" y="798" w="32" h="32"/>
            <frame x="216" y="798" w="32" h="32"/>
          </l_shield_walk>
          <invisible speed="0.2" loops="0">
            <frame x="179" y="64" w="32" h="32"/>
          </invisible>
        </animations>
      </imp>
      <monkey>
        <general>
          <coll_offset x="5" y="9" w="-9" h="-9"/>
        </general>
        <animations>
          <r_idle speed="0.2" loops="1">
            <frame x="2" y="2" w="80" h="48"/>
            <frame x="84" y="2" w="80" h="48"/>
          </r_idle>
          <l_idle speed="0.2" loops="1">
            <frame x="248" y="2" w="80" h="48"/>
            <frame x="166" y="2" w="80" h="48"/>
          </l_idle>
          <r_hurt speed="0.2" loops="0">
            <frame x="494" y="2" w="80" h="48"/>
            <frame x="576" y="2" w="80" h="48"/>
          </r_hurt>
          <l_hurt speed="0.2" loops="0">
            <frame x="412" y="2" w="80" h="48"/>
            <frame x="330" y="2" w="80" h="48"/>
          </l_hurt>
          <r_hit speed="0.2" loops="0">
            <frame x="2" y="125" w="80" h="48"/>
            <frame x="84" y="125" w="80" h="48"/>
            <frame x="166" y="125" w="80" h="48"/>
            <frame x="248" y="125" w="80" h="48"/>
            <frame x="330" y="125" w="80" h="48"/>
            <frame x="412" y="125" w="80" h="48"/>
            <frame x="494" y="125" w="80" h="48"/>
            <frame x="576" y="125" w="80" h="48"/>
            <frame x="658" y="125" w="80" h="48"/>
          </r_hit>
          <l_hit speed="0.2" loops="0">
            <frame x="658" y="55" w="80" h="48"/>
            <frame x="576" y="55" w="80" h="48"/>
            <frame x="494" y="55" w="80" h="48"/>
            <frame x="412" y="55" w="80" h="48"/>
            <frame x="330" y="55" w="80" h="48"/>
            <frame x="248" y="55" w="80" h="48"/>
            <frame x="166" y="55" w="80" h="48"/>
            <frame x="84" y="55" w="80" h="48"/>
            <frame x="2" y="55" w="80" h="48"/>
          </l_hit>
        </animations>
      </monkey>
      <cat_peasant>
        <general>
          <coll_offset x="5" y="9" w="-9" h="-9"/>
        </general>
        <animations>
          <r_idle speed="0.2" loops="1">
            <frame x="2" y="21" w="64" h="64"/>
            <frame x="68" y="21" w="64" h="64"/>
            <frame x="134" y="21" w="64" h="64"/>
            <frame x="200" y="21" w="64" h="64"/>
            <frame x="266" y="21" w="64" h="64"/>
          </r_idle>
          <l_idle speed="0.2" loops="1">
            <frame x="774" y="922" w="64" h="64"/>
            <frame x="708" y="922" w="64" h="64"/>
            <frame x="642" y="922" w="64" h="64"/>
            <frame x="576" y="922" w="64" h="64"/>
            <frame x="510" y="922" w="64" h="64"/>
          </l_idle>
          <r_idle_no_staff speed="0.2" loops="1">
            <frame x="2" y="563" w="64" h="64"/>
            <frame x="68" y="563" w="64" h="64"/>
            <frame x="134" y="563" w="64" h="64"/>
            <frame x="200" y="563" w="64" h="64"/>
            <frame x="266" y="563" w="64" h="64"/>
          </r_idle_no_staff>
          <l_idle_no_staff speed="0.2" loops="1">
            <frame x="774" y="1464" w="64" h="64"/>
            <frame x="708" y="1464" w="64" h="64"/>
            <frame x="642" y="1464" w="64" h="64"/>
            <frame x="576" y="1464" w="64" h="64"/>
            <frame x="510" y="1464" w="64" h="64"/>
          </l_idle_no_staff>
          <r_throw_staff speed="0.2" loops="0">
            <frame x="2" y="361" w="64" h="64"/>
            <frame x="68" y="361" w="64" h="64"/>
            <frame x="134" y="361" w="64" h="64"/>
            <frame x="200" y="361" w="64" h="64"/>
            <frame x="266" y="361" w="64" h="64"/>
            <frame x="332" y="361" w="64" h="64"/>
            <frame x="398" y="361" w="64" h="64"/>
            <frame x="464" y="361" w="64" h="64"/>
            <frame x="530" y="361" w="64" h="64"/>
          </r_throw_staff>
          <l_throw_staff speed="0.2" loops="0">
            <frame x="774" y="1262" w="64" h="64"/>
            <frame x="708" y="1262" w="64" h="64"/>
            <frame x="642" y="1262" w="64" h="64"/>
            <frame x="576" y="1262" w="64" h="64"/>
            <frame x="510" y="1262" w="64" h="64"/>
            <frame x="444" y="1262" w="64" h="64"/>
            <frame x="378" y="1262" w="64" h="64"/>
            <frame x="312" y="1262" w="64" h="64"/>
            <frame x="246" y="1262" w="64" h="64"/>
          </l_throw_staff>
          <r_hurt speed="0.2" loops="0">
            <frame x="2" y="106" w="64" h="64"/>
          </r_hurt>
          <l_hurt speed="0.2" loops="0">
            <frame x="774" y="106" w="64" h="64"/>
          </l_hurt>
          <r_hurt_no_staff speed="0.2" loops="0">
            <frame x="2" y="648" w="64" h="64"/>
          </r_hurt_no_staff>
          <l_hurt_no_staff speed="0.2" loops="0">
            <frame x="774" y="1549" w="64" h="64"/>
          </l_hurt_no_staff>
          <r_dead speed="0.2" loops="0">
            <frame x="2" y="276" w="64" h="64"/>
            <frame x="68" y="276" w="64" h="64"/>
            <frame x="134" y="276" w="64" h="64"/>
            <frame x="200" y="276" w="64" h="64"/>
            <frame x="266" y="276" w="64" h="64"/>
            <frame x="332" y="276" w="64" h="64"/>
            <frame x="398" y="276" w="64" h="64"/>
            <frame x="464" y="276" w="64" h="64"/>
          </r_dead>
          <l_dead speed="0.2" loops="0">
            <frame x="774" y="1177" w="64" h="64"/>
            <frame x="708" y="1177" w="64" h="64"/>
            <frame x="642" y="1177" w="64" h="64"/>
            <frame x="576" y="1177" w="64" h="64"/>
            <frame x="510" y="1177" w="64" h="64"/>
            <frame x="444" y="1177" w="64" h="64"/>
            <frame x="378" y="1177" w="64" h="64"/>
            <frame x="312" y="1177" w="64" h="64"/>
          </l_dead>
          <r_dead_no_staff speed="0.2" loops="0">
            <frame x="2" y="733" w="64" h="64"/>
            <frame x="68" y="733" w="64" h="64"/>
            <frame x="134" y="733" w="64" h="64"/>
            <frame x="200" y="733" w="64" h="64"/>
            <frame x="266" y="733" w="64" h="64"/>
            <frame x="332" y="733" w="64" h="64"/>
            <frame x="398" y="733" w="64" h="64"/>
            <frame x="464" y="733" w="64" h="64"/>
          </r_dead_no_staff>
          <l_dead_no_staff speed="0.2" loops="0">
            <frame x="774" y="1634" w="64" h="64"/>
            <frame x="708" y="1634" w="64" h="64"/>
            <frame x="642" y="1634" w="64" h="64"/>
            <frame x="576" y="1634" w="64" h="64"/>
            <frame x="510" y="1634" w="64" h="64"/>
            <frame x="444" y="1634" w="64" h="64"/>
            <frame x="378" y="1634" w="64" h="64"/>
            <frame x="312" y="1634" w="64" h="64"/>
          </l_dead_no_staff>
        </animations>
      </cat_peasant>
    </types>    
  </entities>
  
  <player>
    <general>
      <state value="2"/>
      <gravity value="0.1"/>
      <speed x="0" y="0"/>
      <collider x="14" y="10" w="20" h="38"/>
      <check_collision offset="3"/>
    </general>
    <spritesheets>
      <spritesheet name="Assets/Sprites/Textures/Kaho.png"/>
    </spritesheets>
    <animations>
      <idle speed="100" loops="1">
        <frame x="1" y="454" w="48" h="48"/>
        <frame x="50" y="454" w="48" h="48"/>
        <frame x="99" y="454" w="48" h="48"/>
        <frame x="148" y="454" w="48" h="48"/>
        <frame x="197" y="454" w="48" h="48"/>
        <frame x="246" y="454" w="48" h="48"/>
      </idle>
      <idle2 speed="100" loops="1">
        <frame x="686" y="454" w="48" h="48"/>
        <frame x="735" y="454" w="48" h="48"/>
        <frame x="784" y="454" w="48" h="48"/>
        <frame x="833" y="454" w="48" h="48"/>
        <frame x="882" y="454" w="48" h="48"/>
        <frame x="931" y="454" w="48" h="48"/>
      </idle2>
      <forward speed="1" loops="1">
        <frame x="99" y="206" w="48" h="48"/>
        <frame x="148" y="206" w="48" h="48"/>
        <frame x="197" y="206" w="48" h="48"/>
        <frame x="246" y="206" w="48" h="48"/>
        <frame x="295" y="206" w="48" h="48"/>
        <frame x="344" y="206" w="48" h="48"/>
        <frame x="393" y="206" w="48" h="48"/>
        <frame x="442" y="206" w="48" h="48"/>
      </forward>
      <backward speed="1" loops="1">
        <frame x="833" y="206" w="48" h="48"/>
        <frame x="784" y="206" w="48" h="48"/>
        <frame x="735" y="206" w="48" h="48"/>
        <frame x="686" y="206" w="48" h="48"/>
        <frame x="637" y="206" w="48" h="48"/>
        <frame x="588" y="206" w="48" h="48"/>
        <frame x="539" y="206" w="48" h="48"/>
        <frame x="490" y="206" w="48" h="48"/>
      </backward>
      <crouch speed="1" loops="1">
        <frame x="99" y="268" w="48" h="48"/>
        <frame x="148" y="268" w="48" h="48"/>
      </crouch>
      <crouch2 speed="1" loops="1">
        <frame x="784" y="268" w="48" h="48"/>
        <frame x="833" y="268" w="48" h="48"/>
      </crouch2>
      <shot speed="1" loops="0">
        <frame x="1" y="13" w="48" h="48"/>
        <frame x="50" y="13" w="48" h="48"/>
        <frame x="99" y="13" w="48" h="48"/>
        <frame x="148" y="13" w="48" h="48"/>
        <frame x="197" y="13" w="48" h="48"/>
        <frame x="246" y="13" w="48" h="48"/>
      </shot>
      <shot2 speed="1" loops="0">
        <frame x="931" y="13" w="48" h="48"/>
        <frame x="882" y="13" w="48" h="48"/>
        <frame x="833" y="13" w="48" h="48"/>
        <frame x="784" y="13" w="48" h="48"/>
        <frame x="735" y="13" w="48" h="48"/>
        <frame x="686" y="13" w="48" h="48"/>
      </shot2>
      <crouchShot speed="1" loops="0">
        <frame x="1" y="140" w="48" h="48"/>
        <frame x="50" y="140" w="48" h="48"/>
        <frame x="99" y="140" w="48" h="48"/>
        <frame x="148" y="140" w="48" h="48"/>
        <frame x="197" y="140" w="48" h="48"/>
        <frame x="246" y="140" w="48" h="48"/>
      </crouchShot>
      <crouchShot2 speed="1" loops="0">
        <frame x="931" y="140" w="48" h="48"/>
        <frame x="882" y="140" w="48" h="48"/>
        <frame x="833" y="140" w="48" h="48"/>
        <frame x="784" y="140" w="48" h="48"/>
        <frame x="735" y="140" w="48" h="48"/>
        <frame x="686" y="140" w="48" h="48"/>
      </crouchShot2>
      <jump speed="1" loops="1">
        <frame x="1" y="390" w="48" h="48"/>
        <frame x="50" y="390" w="48" h="48"/>
        <frame x="99" y="390" w="48" h="48"/>
      </jump>
      <jump2 speed="1" loops="1">
        <frame x="833" y="390" w="48" h="48"/>
        <frame x="882" y="390" w="48" h="48"/>
        <frame x="931" y="390" w="48" h="48"/>
      </jump2>
      <punished speed="1" loops="0">
        <frame x="51" y="332" w="48" h="44"/>
        <frame x="101" y="332" w="48" h="44"/>
        <frame x="151" y="332" w="48" h="44"/>
      </punished>
      <punished2 speed="1" loops="0">
        <frame x="780" y="332" w="48" h="44"/>
        <frame x="830" y="332" w="48" h="44"/>
        <frame x="880" y="332" w="48" h="44"/>
      </punished2>
      <dash speed="1" loops="1">
        <frame x="1" y="518" w="48" h="48"/>
      </dash>
      <dash2 speed="1" loops="1">
        <frame x="931" y="518" w="48" h="48"/>
      </dash2>
      <firstAttack speed="1" loops="0">
        <frame x="1" y="580" w="48" h="48"/>
        <frame x="50" y="580" w="48" h="48"/>
        <frame x="99" y="580" w="48" h="48"/>
        <frame x="148" y="580" w="48" h="48"/>
        <frame x="197" y="580" w="48" h="48"/>
        <frame x="246" y="580" w="48" h="48"/>
        <frame x="295" y="580" w="48" h="48"/>
      </firstAttack>
      <secondAttack speed="1" loops="0">
        <frame x="1" y="643" w="48" h="48"/>
        <frame x="50" y="643" w="48" h="48"/>
        <frame x="99" y="643" w="48" h="48"/>
        <frame x="148" y="643" w="48" h="48"/>
        <frame x="197" y="643" w="48" h="48"/>
        <frame x="246" y="643" w="48" h="48"/>
        <frame x="295" y="643" w="48" h="48"/>
      </secondAttack>
      <thirdAttack speed="1" loops="0">
        <frame x="1" y="706" w="48" h="48"/>
        <frame x="50" y="706" w="48" h="48"/>
        <frame x="99" y="706" w="48" h="48"/>
        <frame x="148" y="706" w="48" h="48"/>
        <frame x="197" y="706" w="48" h="48"/>
        <frame x="246" y="706" w="48" h="48"/>
        <frame x="295" y="706" w="48" h="48"/>
        <frame x="344" y="706" w="48" h="48"/>
        <frame x="393" y="706" w="48" h="48"/>
        <frame x="442" y="706" w="48" h="48"/>
        <frame x="491" y="706" w="48" h="48"/>
      </thirdAttack>
      <firstAttack2 speed="1" loops="0">
        <frame x="931" y="643" w="48" h="48"/>
        <frame x="882" y="643" w="48" h="48"/>
        <frame x="833" y="643" w="48" h="48"/>
        <frame x="784" y="643" w="48" h="48"/>
        <frame x="735" y="643" w="48" h="48"/>
        <frame x="686" y="643" w="48" h="48"/>
        <frame x="637" y="643" w="48" h="48"/>
      </firstAttack2>
      <secondAttack2 speed="1" loops="0">
        <frame x="931" y="706" w="48" h="48"/>
        <frame x="882" y="706" w="48" h="48"/>
        <frame x="833" y="706" w="48" h="48"/>
        <frame x="784" y="706" w="48" h="48"/>
        <frame x="735" y="706" w="48" h="48"/>
        <frame x="686" y="706" w="48" h="48"/>
        <frame x="637" y="706" w="48" h="48"/>
      </secondAttack2>
      <thirdAttack2 speed="1" loops="0">
        <frame x="931" y="582" w="48" h="48"/>
        <frame x="882" y="582" w="48" h="48"/>
        <frame x="833" y="582" w="48" h="48"/>
        <frame x="784" y="582" w="48" h="48"/>
        <frame x="735" y="582" w="48" h="48"/>
        <frame x="686" y="582" w="48" h="48"/>
        <frame x="637" y="582" w="48" h="48"/>
        <frame x="588" y="582" w="48" h="48"/>
        <frame x="539" y="582" w="48" h="48"/>
        <frame x="490" y="582" w="48" h="48"/>
        <frame x="441" y="582" w="48" h="48"/>
      </thirdAttack2>
    </animations>
  </player>

  <particles>
    <animations>
      <arrowRight life="10000">
        <frame x="58" y="520" w="22" h="3"/>
      </arrowRight>
      <arrowLeft life="10000">
        <frame x="900" y="520" w="22" h="3"/>
      </arrowLeft>
      <firstAttack life="100">
        <frame x="1000" y="1000" w="10" h="10"/>
      </firstAttack>
      <secondAttack life="100">
        <frame x="1000" y="1000" w="10" h="10"/>
      </secondAttack>
      <thirdAttack life="100">
        <frame x="1000" y="1000" w="10" h="10"/>
      </thirdAttack>
      <CatPeasantSinus life="5000">
        <frame x="2" y="818" w="64" h="64"/>
        <frame x="774" y="1719" w="64" h="64"/>
      </CatPeasantSinus>
      <Imp_r_bomb life="10000">
        <frame x="134" y="18" w="16" h="16"/>
      </Imp_r_bomb>
      <Imp_l_bomb life="1000">
        <frame x="202" y="18" w="16" h="16"/>
      </Imp_l_bomb>
      <Imp_bomb_explosion life="1000">
        <frame x="134" y="38" w="16" h="16"/>
      </Imp_bomb_explosion>
    </animations>
  </particles>

</config>